# 忽略影片與大檔
*.mp4
*.pt
*.rar
*.zip
*.avi

# 忽略 Jupyter Notebook checkpoint
.ipynb_checkpoints/

# 忽略 PyTorch 暫存模型檔
*.pth
*.ckpt

# 忽略分析產生的大量資料夾與 Log
data/
uploaded_videos/
test_outputs/
*.log
frontend/*.txt

# 忽略 Python 快取檔
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略圖片、音檔與暫存目錄
*.png
*.jpg
*.jpeg
*.wav
scratch/
